<form id="convert-form" 
	  class="col-7 position-relative ml-5">
	{% csrf_token %}
	<label for="amount" 
		   class="row no-gutters col-12">
		Сума
	</label>
	<input type="number" 
			id="amount" 
			class="row no-gutters col-12" 
			value="{{ amount }}"
			min=0>

	<label for="from" 
			class="row no-gutters col-12">
		От
	</label>
	<select id="from" 
			class="row no-gutters col-12" 
			value="{{ from_currency.code }}">
		{% include './currencies_option_list.html' with selected=from_currency %}
	</select>
	
	<button id="flip" 
			type="button"
			class="button position-absolute" 
			title="Размени местата">
		<i class="fas fa-exchange-alt"></i>
	</button>

	<label for="to" 
		   class="row no-gutters col-12">
		Към
	</label>
	<select id="to" 
			class="row no-gutters col-12"
			value="{{ to_currency.code }}">
		{% include './currencies_option_list.html' with selected=to_currency %}
	</select>

	<button id="convert" 
			type="button"
		   	class="button col-12">
		   КАЛКУЛИРАЙ СЕГА
	</button>
</form>