<div id="info" class="row no-gutters col-12 position-relative">
	<div class="data row col-12 no-gutters position-relative mb-5">
		<div class="big from col-12 text-right">
			<span class="from-symbol">{{ from_currency.symbol }} </span>
			<span id="amount-value">
				{{ amount }}
			</span>
		</div>
		<div class="col-12 text-right">
			<span class="from-name">{{ from_currency.name }}</span>
		</div>
	</div>
	<div class="data row col-12 no-gutters position-relative mb-5">
		<div class="big to col-12 text-right">
			<span class="to-symbol">{{ to_currency.symbol }} </span>
				<span id="conversion-result-value">
					{{ conversion_result }}
				</span>
		</div>
		<div class="col-12 text-right">
			<span class="to-name">
				{{ to_currency.name }}
			</span>
		</div>
	</div>
	<div class="data rate col-12 position-relative text-right">
		{{ amount }}
		<span class="from-name">
			{{ from_currency.name }}
		</span> 
		(<span class="from-symbol">
			{{ from_currency.symbol }}
		</span>) = 
		<span class="rate-value">{{ rate }}</span>
		<span class="to-name">
			{{ to_currency.name }}
		</span>
		(<span class="to-symbol">
			{{ to_currency.symbol }}
		</span>)
	</div>
	<div id="latest-rates-info"
		 class="data col-12 position-relative text-right pt-5">
	 	<span class="small text-reset faded">
	 		Използват се курсове на БНБ от<br>
	 		<span id="latest-rates-date">
	 			{{ date_valid|date:'l d F Y' }}
	 		</span>
	 	</span>
	</div>
</div>