#right {
	color: rgba(255, 255, 255, 0.5);
	font-weight: 200;
	font-size: 110%;
}

#right #info {
	padding: 0 80px 80px 0 !important;
}

#right #info .data {
	margin-top: -20px;
}

#right #info .data:last-of-type {
	margin-top: 0;
}

#right #info, 
#right button#refresh-rates {
	z-index: 2;
}

#right #bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transform: skewX(-15deg) scale(1.6, 1.5);
	z-index: 1;
}

#right #refresh-rates {
	width: 160px;
	height: 160px;
	background: linear-gradient(145deg, rgb(231, 50, 92) 0%, rgba(221,94,46,1) 100%);
	border-radius: 50%;
	color: #fff;
	font-size: 400%;
	margin: -80px 80px 0 auto;
}